<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talkify</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="logo.png" alt="Logo">
            </div>
            <ul class="navbar-menu">
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            <a href="https://www.example.com" class="button">Explore Project</a>
        </div>
    </nav>

    <!-- Intro Section -->
    <section class="intro">
        <div class="intro-content">
            <h1>Talkify</h1>
            <p>Chat in real time to anyone around the world</p>
            <a href="https://www.example.com" class="button">Explore Project</a>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="features">
        <div class="feature">
            <img src="/images/feature1-image.jpg" alt="Feature 1">
            <h2>Chat in real time</h2>
            <p>Send and recieve messages instantly with end to end encription</p>
        </div>
        <div class="feature">
            <img src="feature2-image.jpg" alt="Feature 2">
            <h2>Feature 2</h2>
            <p>Description of Feature 2</p>
        </div>
        <div class="feature">
            <img src="feature3-image.jpg" alt="Feature 3">
            <h2>Feature 3</h2>
            <p>Description of Feature 3</p>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about">
        <div class="about-content">
            <h2>About</h2>
            <p>A personal story describing the inspiration behind the project.</p>
            <p>This project is a portfolio project for Holberton School. It was developed by a team of talented individuals.</p>
            <div class="team-members">
                <div class="member">
                    <h3>Team Member 1: Ogbodogbo Onajite Fortune</h3>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/fortunejite">LinkedIn</a></li>
                        <li><a href="https://github.com/Fortunejite">GitHub</a></li>
                        <li><a href="https://https://twitter.com/FortuneOna70288">Twitter</a></li>
                    </ul>
                </div>
                <!-- Add more team members here -->
            </div>
            <a href="https://github.com/Fortunejite/Talkify" class="github-link">GitHub Repository</a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Your Project Name. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>


