<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/create.js"></script>
  <link rel="stylesheet" href="/css/register2.css">
</head>
<body>
  <form action="#">
    <h1 class="top">Create a group</h1>
    <input type="text" id="name1" placeholder="Group name" />
    <p id="uname"></p>
    <input type="text" id="name2" placeholder="Group description" />
    <p id="upass"></p>
    <button id="sign">Create Group</button>
    <div id="loadingSpinner" style="display: none;">
        <div class="spinner"></div>
    </div>
  </form>
</body>
</html>